
body{
    background: white url("images/background.png");
    background-repeat: repeat;
}


.navbar{
    border-radius: 0 !important;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}






















